/* Importing roboto font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');



* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid red;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(221, 195, 245);
    cursor: pointer;
}

.gameInfo {
    padding: 0px 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    height: 40px;
    width: 100px;
    color: rgb(0 0 0);
    font-size: large;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 0 20px;
    background-color: #e4a8ff;
    font-family: 'Baloo Bhaina 2', cursive;
}

@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .container{
        grid-template-rows: repeat(3, 15vw);
        grid-template-columns: repeat(3, 15vw);
        margin-top: 40px;
    }

    .gameInfo{
        font-size: 1.3rem;
        margin-top: 34px;
    }
}